<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
    <h1>Search TShirts</h1>
    <form th:action="@{/tshirts}">
        Color: <input type="text" name="color" id="color" size="50" th:value="${color}" required />
        &nbsp;
        Gender: <input type="text" name="gender" id="gender" size="50" th:value="${gender}" required />
        &nbsp;
        Filter: <input type="text" name="size" id="size" size="50" th:value="${size}" required />
        &nbsp;
        <input type="submit" value="Search" />
        &nbsp;
        <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
    </form>

    <script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/}]]";
    }
</script>
</body>

</html>